---
name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  # A job to run the linter on the code. the project is a nextjs project
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "18.16.1"
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
